html, body {
    overflow-x: hidden;
    min-width: 100vh;
    
}

.clock {
    width: 500px;
    margin: 150px auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
}
span {
    font-size: 40px;
}